:root
  --primary-color: #75d9ff              // Background
  --on-primary-color:   white                  // Text color on background
  --secondary-color: rgb(110, 92, 215)  // Color of buttons
  --on-secondary-color: white             // Text color on buttons
  --surface-color: white                       // Color of the cards on the individual ordinal page
  --attribute-color:  white                    // Color of the cards displaying attributes
  --attribute-border-color:    white           // Color of the border around the attributes
  --filter-background-color: #b8e4ff    // Color of the filter pane

html, body
  padding: 0
  margin: 0
  min-height: 100vh
  z-index: -100
  font-family: 'Nunito', sans-serif

html
  background-color: var(--primary-color)

main
  flex-grow: 1
  background: transparent
  display: flex
  align-items: center
  flex-direction: column
  padding: 0
  overflow: hidden

a:link, a:visited, a:hover, a:active
  text-decoration: none
  color: black

*
  box-sizing: border-box

button
  color: black
  font-family: 'Rock Salt', cursive
  cursor: pointer
  z-index: 100
  -webkit-tap-highlight-color: transparent
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

button:disabled
  cursor: default
